<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Word Bomb 💣</title>
  </head>
  <body>
    <div id="doom-damage"></div>
    <div class="top">
      <div class="game_user">
        <!-- <span class="game_id hidden"></span> -->
        <span class="user hidden">Username</span>
      </div>
      <div class="spacer"></div>
      <div class="login-btn-div"></div>
    </div>
    <div class="middle">
      <div class="game-container">
        <div class="instructions game-window-font"></div>
        <div class="game-display">
          <div class="canvas hidden"></div>
        </div>
      </div>
      <div class="bottom-bar">
        <div class="start-btn-div game-window-font"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
    <script src="./helperFunctions.js"></script>
  </body>
</html>
