<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Word Bomb 💣</title>
  </head>
  <body>
    <div class="top">
      <div class="game_user">
        <span class="game_id">Game id</span>
        <span class="user">Username</span>
      </div>
      <div class="spacer"></div>
      <div class="login">Login / Logout</div>
    </div>
    <div class="middle">
      <div class="game-container">
        <div class="instructions game-window-font">Instructions</div>
        <div class="game-display">
          <div class="canvas">Game window</div>
        </div>
      </div>
      <div class="bottom-bar">
        <div class="start-btn game-window-font">Start Button</div>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
